.header {
    &--wrapper {
        top: 0px;
        z-index: 10;
        transition: all 0.3s;
        padding: 10px 0;
        &.scrolling {
            position: sticky;
            animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            box-shadow: 0 10px 15px #19191908;
            background-color: var(--color-bg-header);
        }
    }
    &--container {
        @include _flex_box(center, space-between);
    }
    &--logo {
        min-width: 140px;
        height: 51px;
        cursor: pointer;
    }
    &--button-login {
        font-weight: $font-bold;
        width: 150px;
        @include _flex_box();
        svg.svg-inline--fa {
            width: 15px;
            margin-right: 6px;
        }
    }
    &--menu-wrap {
        @include _flex_box(center, flex-start);
        width: max-content;
    }
    &--menu a {
        margin: 0 16px;
        color: var(--color-text-inactive);
        font-weight: $font-bold;
        transition: 0.2s all;
        &:hover {
            color: var(--color-primary);
        }
    }
    &--menu-icon {
        display: none;
        color: var(--color-primary);
    }
}

@include _responsive(_lg) {
    .header {
        &--menu-wrap {
            display: none;
        }
        &--menu-icon {
            display: block;
            width: 24px;
        }
        &--drawer {
            .header--menu-wrap {
                display: block;
            }
            .ant-drawer-title {
                color: var(--color-text-main);
                font-weight: $font-bold;
                font-size: $fontSize-base + 2;
            }
            .header--menu a {
                display: block;
                margin: 12px 0;
                &:last-child {
                    margin-bottom: 34px;
                }
            }
        }
    }
}

// @include _responsive(_xs) {
//   .header {
//     &--button-login.app-btn {
//       order: 1;
//       width: max-content;
//       height: 32px;
//       span {
//         display: none;
//       }
//     }
//     &--menu.app-menu {
//       order: 2;
//     }
//   }
// }
