.container {
    width: 100%;
    max-width: 1380px;
    padding: 0 20px;
    margin: auto;
}

@include _responsive(_xxl) {
    @for $i from 1 through 10 {
        .order_xl-#{$i} {
            order: $i;
        }
    }
}

@include _responsive(_xl) {
    .container {
        max-width: $container_extraLarge;
    }
}

@include _responsive(_lg) {
    .container {
        max-width: $container_large;
    }
}

@include _responsive(_md) {
    .container {
        max-width: $container_medium;
    }
}

@include _responsive(_sm) {
    .container {
        max-width: 100%;
    }
}

@include _responsive(_xs) {
}

@for $i from 0 through 32 {
    @if ($i % 2) == 0 {
        .mt-#{$i} {
            margin-top: #{$i}px;
        }
        .mr-#{$i} {
            margin-right: #{$i}px;
        }
        .mb-#{$i} {
            margin-bottom: #{$i}px;
        }
        .ml-#{$i} {
            margin-left: #{$i}px;
        }
        .pt-#{$i} {
            padding-top: #{$i}px;
        }
        .pr-#{$i} {
            padding-right: #{$i}px;
        }
        .pb-#{$i} {
            padding-bottom: #{$i}px;
        }
        .pl-#{$i} {
            padding-left: #{$i}px;
        }
        .m-tb-#{$i} {
            margin-top: #{$i}px;
            margin-bottom: #{$i}px;
        }
        .m-lr-#{$i} {
            margin-left: #{$i}px;
            margin-right: #{$i}px;
        }
        .m-#{$i} {
            margin: #{$i}px;
        }
        .p-tb-#{$i} {
            padding-top: #{$i}px;
            padding-bottom: #{$i}px;
        }
        .p-lr-#{$i} {
            padding-left: #{$i}px;
            padding-right: #{$i}px;
        }
        .p-#{$i} {
            padding: #{$i}px;
        }
    }
}

.txt-center {
    text-align: center;
}
