.blog-content {
    min-height: 1250vh;
    grid-area: content;
}

.box-suggest-login {
    @include _flex_box(center, space-between);
    .btn-login {
        width: 200px;
        .svg-inline--fa {
            margin-right: 8px;
        }
    }
}

.blog-item {
    @include _flex_box(flex-start, flex-start);
    width: 100%;
    .lazy-load-image-background {
        max-width: 300px;
        width: 100%;
    }
    &__image {
        width: 100%;
        height: 200px;
        border-radius: 12px;
    }
    &__content {
    }
    &__title.ant-typography {
        line-height: 25px;
        a {
            color: var(--blog-color-text-main);
        }
    }
    &__info-create {
        .create-info a {
            display: block;
        }
        .txt-user-name {
            white-space: nowrap;
        }
    }
    &__interact {
        justify-content: space-between;
        width: 100%;
        .interact-wrap {
            cursor: pointer;
        }
        .anticon,
        .anticon svg {
            font-size: $font_size_base + 2;
            margin-right: 1px;
            color: var(--blog-color-created-at);
        }
        .anticon.anticon-thunderbolt svg {
            font-size: $font_size_base + 8;
        }
        .interact-value.ant-typography {
            font-size: $font_size_base + 2;
            color: var(--blog-color-created-at);
        }
    }
    &__popover-row {
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        span.ant-typography {
            width: max-content;
        }
    }
}

@include _responsive(_xl) {
    .blog-item {
        &__image {
            min-width: 250px;
        }
    }
}
