@import './siderBarLeft.scss';
@import './siderBarRight.scss';
@import './blogContent.scss';

.content-wrapper {
    display: grid;
    grid-template-areas: 'sidebar_1 content sidebar_2 ';
    grid-template-columns: 210px auto 300px;
    min-height: 100vh;
    grid-gap: 20px;
}

@include _responsive(_lg) {
    .content-wrapper {
        grid-template-columns: 210px auto;
        .sider-right {
            display: none;
        }
    }
}

@include _responsive(_md) {
    .content-wrapper {
        grid-template-columns: auto;
        .sider-left {
            display: none;
        }
    }
}

@include _responsive(_sm) {
    .content-wrapper {
        grid-template-columns: auto;
        .sider-left {
            display: none;
        }
    }
}

@include _responsive(_xs) {
    .content-wrapper {
        grid-template-columns: auto;
        grid-gap: unset;
        .sider-left {
            display: none;
        }
        .box-suggest-login,
        .blog-item {
            flex-direction: column;
        }
        .blog-item.card-blog {
            padding: 0;
            .lazy-load-image-background {
                max-width: unset;
            }
        }
        .blog-item {
            &__content {
                margin-left: 0 !important;
                padding: 12px;
            }
            &__image {
                border-bottom-left-radius: unset;
                border-bottom-right-radius: unset;
            }
        }
    }
}
