.sider-left {
  grid-area: sidebar_1;
  position: sticky;
  padding-top: 20px;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  @include _flex_box(center, space-between);
  flex-direction: column;
  height: 100vh;
  &__menu {
    @include _flex_box(flex-start, center);
    flex-direction: column;
    .ant-menu {
      background: transparent;
      border: none;
      width: 100% !important;
    }
    .ant-menu-item {
      padding-left: 8px;
      padding-right: 8px;
      &.ant-menu-item-selected {
        background-color: transparent;
        a,
        span.anticon {
          color: var(--blog-color-primary);
        }
      }
      &.ant-menu-item-active {
        border-radius: 6px;
        background-color: var(--blog-color-hover-primary);
      }
    }
    .ant-menu-item span {
      a {
        color: var(--blog-color-text-main);
        font-size: $font_size_base + 2;
        font-weight: $font-medium;
      }
      &.anticon {
        color: var(--blog-color-icon-menu);
        > svg {
          font-size: $font_size_base + 2;
        }
      }
    }
  }
  &__bottom {
    .svg-inline--fa {
      width: $font_size_base + 14;
      color: #ff9d54;
    }
    > div {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  &__drawer.full-w {
    .sider-left__menu {
      margin-top: 0 !important;
      .ant-menu-item {
        padding: 0;
        height: 44px;
        margin-bottom: 18px;
        border-bottom: 1px solid var(--blog-color-icon-menu);
        &.ant-menu-item-active {
          background-color: unset;
        }
      }
    }
  }
}

@include _responsive(_lg) {
  .sider-left {
    .header__menu-icon {
      display: none;
    }
  }
}

@include _responsive(_md) {
  .sider-left {
    margin: 0 -20px;
    padding: 8px 20px;
    background-color: white;
    &__menu-pc {
      display: none;
    }
    .header__menu-icon {
      display: block;
    }
    &__top {
      @include _flex_box(center, flex-start);
      .header__logo {
        min-width: unset;
        max-width: 180px;
        margin-left: 8px;
      }
    }
    &__bottom {
      align-items: center;
      > div {
        padding: 0 !important;
        margin: 0;
        margin-left: 20px;
        &.fontAWS {
          height: $font_size_base + 14;
        }
      }
    }
  }
}
