.sider-left {
    grid-area: sidebar_1;
    position: sticky;
    padding-top: 20px;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    @include _flex_box(center, space-between);
    flex-direction: column;
    height: 100vh;
    &__menu {
        margin-top: 30px;
        @include _flex_box(flex-start, center);
        flex-direction: column;
        .ant-menu {
            background: transparent;
            border: none;
            width: 100% !important;
        }
        .ant-menu-item {
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 6px;
            &.ant-menu-item-selected {
                background-color: transparent;
                a.ant-typography,
                span.anticon {
                    color: var(--blog-color-primary);
                }
            }
            &.ant-menu-item-active {
                background-color: var(--blog-color-hover-primary);
            }
        }
        .ant-menu-item span {
            a.ant-typography {
                color: var(--blog-color-text-main);
                font-size: $font_size_base + 2;
                font-weight: $font-medium;
            }
            &.anticon {
                color: var(--blog-color-icon-menu);
                > svg {
                    font-size: $font_size_base + 2;
                }
            }
        }
    }
    &__bottom {
        .anticon-bell {
            font-size: $font_size_base + 12;
            color: var(--blog-color-primary);
        }
        .svg-inline--fa.fa-bell,
        .svg-inline--fa.fa-moon {
            width: 30px;
            font-size: 30px;
            color: #ff9d54;
        }
        > div {
            cursor: pointer;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
