.second-wrap {
    // margin-top: 180px;
    &__description {
        margin-top: 14px;
        margin-bottom: 51px;
        color: var(--color-text-main-o4);
    }
}

.third-wrap {
    &__card-wrap {
        width: 80%;
        margin: auto;
    }
}
