.second-wrap {
    // &--description {
    //     margin-top: 14px;
    //     margin-bottom: 51px;
    //     color: var(--color-text-main-o4);
    //     line-height: 30px;
    // }
    // &--title {
    //     line-height: 54px;
    // }
}

.interact {
    &--card-wrap {
        width: 88%;
        margin: auto;
    }
    &--card-item {
        width: 100%;
        background: var(--color-background-main);
        &.active {
            box-shadow: 0px 4px 60px rgba(254, 99, 71, 0.07);
        }
    }
    &--title {
        font-size: $base-fontSize + 9;
        // line-height: 37.5px;
        margin-top: 29px;
    }
    &--description {
        font-size: $base-fontSize + 4;
        // line-height: 30px;
        margin-top: 14px;
        color: var(--color-text-main-05);
    }
}



.fourth-wrap {
    &--title-small{ 
        color: var(--color-primary);
        font-size: $base-fontSize + 4;
    }
    &--title-large {
        font-size: $base-fontSize + 27;
    }
}