.form--app {
    position: relative;
    &--input {
        width: 100%;
        padding: 10px 0px;
        display: inline-block;
        // border: 1px solid #ccc;
        transition: all .3s;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
        &.outline {
            border: none;
            padding: 5px 0px;
            &.error {
                border-bottom: solid 2px red;
            }
        }
        &::placeholder {
            color: var(--color-text-main-o4);
        }
    }
    .mess-error {
        font-size: $base-fontSize - 4;
        margin-top: 3px;
        color: red;
    }
}