@keyframes pl1 {
    100% {box-shadow: 0 0 0 15px var(--color-primary-light)}
}

.banner {
    width: 100%;
    .banner &--container {
        margin-top: 40px;
    }
    &--info-wrap {
    }
    &--title {
    }
    &--description {
        color: var(--color-text-main-05);
    }
    &--img-content-banner {
        margin-left: auto;
    }
    &--button-next-view {
        // animation: 1s infinite pl1;
        .svg-inline--fa {
            margin-left: 6px;
            width: $base-fontSize;
        }
    }
}

@include _responsive(_md) {
    .banner {
        &--img-content-banner {
            width: 85%;
            margin: auto;
        }
        &--info-wrap {
            align-items: center;
        }
        &--title, &--description{
            text-align: center;
        }
        &--title {
            font-size: $base-fontSize + 32;
        }
        &--button-next-view {
            // margin: auto;
            margin-top: 50px;
        }
    }
}
