.home-banner {
    width: 100%;
    margin-bottom: 70px;
    &--wrap-info {
        @include _flex_box();
        flex-direction: column;
    }
    &--title.ant-typography {
        font-size: $fontSize-base + 44;
    }
    &--description.ant-typography {
        color: var(--color-text-main-05);
        font-weight: $font-medium;
        font-size: $fontSize-base + 2;
        .high-light {
            font-size: $fontSize-base + 2;
        }
    }
    &--img-content-banner {
        margin-left: auto;
    }
    &--button-link {
        margin-right: auto;
    }
    &--button-next-view.app-btn {
        width: 206px;
        height: 60px;
        margin-top: 40px;
        a {
            color: var(--color-text-button-white);
        }
        .svg-inline--fa {
            margin-right: 6px;
            width: $fontSize-base;
        }
    }
    &--button-next-view-tooltip .ant-tooltip-inner a {
        color: var(--color-text-button-white);
    }
}

@include _responsive(_md) {
    .home-banner {
        &--img-content {
            width: 85%;
            margin: auto;
        }
        &--title,
        &--description {
            text-align: center;
        }
        &--title.ant-typography {
            font-size: $fontSize-base + 32;
        }
        &--button-link {
            margin: auto;
        }
        &--button-next-view.app-btn {
            margin-top: 25px;
        }
    }
}
