.home-founder {
    &--wrap {
        box-shadow: var(--box-shadow-card-primary);
        border-radius: $border-radius-large;
        margin-bottom: 70px;
        @include _imageStyle(520px);
        h4.ant-typography {
            font-size: $fontSize-base + 16;
        }
    }
    &--name.ant-typography {
        font-size: $fontSize-base + 4;
        font-weight: $font-medium;
        margin-bottom: 0;
    }
    &--mission.ant-typography {
        margin-top: 0;
        font-size: $fontSize-base - 2;
    }
    &--letter.ant-typography {
        margin-top: 30px;
        font-size: $fontSize-base + 2;
        font-style: italic;
    }
    &--content {
        @include _imageStyle(200px);
        .ant-image {
            margin: unset;
            margin-left: auto;
            margin-top: 25px;
        }
    }
}

@include _responsive(_md) {
    .home-founder {
        &--wrap {
            h4.ant-typography {
                text-align: center;
                margin: 15px 0;
            }
        }
    }
}
