.interact {
    &--card-wrap {
        width: 88%;
        margin: auto;
    }
    &--card-item {
        width: 100%;
        background: var(--color-background-main);
        box-shadow: var(--box-shadow-card-primary);
    }
    &--description {
        color: var(--color-text-main-05);
    }
}

@include _responsive(_lg) {
    .interact {
        &--card-wrap {
            width: 100%;
        }
    }
}