.home-interact {
  &--box {
    width: 85%;
    margin: auto;
    margin-bottom: 70px;
  }
  &--card {
    .ant-space {
      padding: 26px;
      box-shadow: var(--box-shadow-card-primary);
      border-radius: $border-radius-large;
    }

    @include _imageStyle(195px);
  }
}

@include _responsive(_lg) {
  .home-interact {
    &--box {
      width: 100%;
    }
  }
}
