.home-news {
    &--item {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: var(--box-shadow-card-primary);
        height: unset;
        margin-bottom: 60px;
        .ant-image {
            width: 100%;
            max-height: 175px;
            overflow: hidden;
        }
        &-title.ant-typography {
            font-size: $fontSize-base + 2;
            margin-top: 10px !important;
            margin-bottom: 10px;
        }
        &-created-date {
            font-size: $fontSize-base - 2;
        }
    }
    &--box-content {
        padding: 12px 22px;
    }
    &--box-wrap-author {
        @include _flex_box(center, flex-start);
        margin-top: 14px;
        margin-bottom: 6px;
        .app-rate {
            margin-left: 8px;
            span.anticon {
                font-size: 16px;
            }
        }
    }
    &--author-name {
        font-weight: $font-light;
        font-size: $fontSize-base - 2;
        margin-left: 4px;
    }
}
