.news {
    &--container {
        .swiper-container {
            margin: 0 -10px;
        }
        .swiper-wrapper {
            padding: 0 10px;
        }
    }
    &--item {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: var(--box-shadow-card-primary);
    }
    &--box-image {
        width: 100%;
        max-height: 175px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    &--box-content {

    }
    &--title {

    }
}