.service-wrap {
    &--description {
        color: var(--color-text-main-05);
    }
    &--item {
        margin: 0 -20px;
        margin-top: 44px;
    }
}


@include _responsive(_md) {
    .service-wrap {
        &--item {
            margin-top: 60px;
        }
        &--content {
            align-items: center;
            text-align: center;
        }
        &--button-wrap {
            justify-content: center;
        }
    }
}

@include _responsive(_xs) {
    .service-wrap {
        &--item .img-app-wrap {
            width: 75%;
        }
    }
}