.home-service {
    &--container {
        margin-bottom: 150px;
        .ant-divider {
            display: none;
        }
    }
    &--row {
        animation: fadeIn 1.3s ease-in-out forwards running;
        @include _imageStyle(423px);
    }
    &--content {
        @include _flex_box(center, center);
        flex-direction: column;
    }
    &--button {
        width: 180px;
        height: 46px;
    }
    &--button-link {
        margin-right: auto;
    }
}

@include _responsive(_md) {
    .home-service {
        &--container {
            .ant-divider {
                display: block;
            }
        }
        &--row {
            margin-bottom: 60px !important;
            h2.ant-typography,
            div.ant-typography {
                text-align: center;
            }
            .ant-image {
                width: 80%;
            }
        }
        &--button-link {
            margin: auto;
        }
    }
}
