.home-service {
    &--container {
        margin-bottom: 70px;
    }
    &--row {
        margin-top: 40px;
        div.ant-typography {
            color: var(--color-text-main-05);
            font-size: $base-fontSize + 2;
        }
        .ant-image {
            max-width: 423px;
            width: 100%;
            margin: auto;
            display: block;
        }
    }
    &--content{
        @include _flex_box(center, flex-start)
    }
    &--button{
        width: 180px;
        height: 46px;
    }
}

@include _responsive(_md) {
    .home-service {
        &--row{
            margin-bottom: 60px !important;
            h2.ant-typography, div.ant-typography {
                text-align: center;
            }
        }
        &--button{
            margin: auto;
        }

    }
}
