@import './banner';
@import './interact';
@import './service';
@import './founder';
@import './news';

.home {
    &--title.ant-typography {
        text-align: center;
        max-width: 604px;
        padding-top: 100px;
        font-size: $fontSize-base + 28;
        font-weight: $font-bold;
        display: block;
        margin: auto;
        margin-bottom: 60px;
    }
}
