//Common style in system
@import './variables';
@import './mixins';
@import './typography';
@import './components/_button';
@import './components/collapspe';
@import './components/menu-home';
@import './components/header';
@import './components/image-lazy';
@import './components/banner';
@import './components/form';
@import './components/icon-setting';
@import './components/footer';
@import './components/list';

// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
    box-sizing: border-box !important;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

html body {
    #__next {
        position: relative;
        background-color: var(--color-background-main);
    }
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-main);
    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}


@import './pages/index.scss';
