//Common style in system
@import './components/_button';
@import './components/_collapspe';
@import './components/_menu-home';
@import './components/_header';
@import './components/_image-lazy';
@import './components/_banner';
@import './components/icon-them';
@import './typography';
@import './variables';
@import './layout';
@import './pages/index.scss';

// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
    box-sizing: border-box;
}

html body {
    #__next {
        // background: var(--color-background-main);
    }
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-main);
    main {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    footer {
        background-color: rgba(255, 255, 255, 0.5);
        // width: 100vw;
        padding: 3rem 0;
    }
}

.hide {
    display: none;
}

.test {
    height: 1000px;
}
