@import './variables';

@mixin _responsive($breakpoint) {
    @if $breakpoint == _xs {
        @media (max-width: $screen-xs) {
            @content;
        }
    }
    @if $breakpoint == _sm {
        @media (max-width: $screen-sm) {
            @content;
        }
    }
    @if $breakpoint == _md {
        @media (max-width: $screen-md) {
            @content;
        }
    }
    @if $breakpoint == _lg {
        @media (max-width: $screen-lg) {
            @content;
        }
    }
    @if $breakpoint == _xl {
        @media (max-width: $screen-xl) {
            @content;
        }
    }
    @if $breakpoint == _xxl {
        @media (max-width: $screen-xxl) {
            @content;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin _position_side_draw() {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: var(--color-background-main);
    max-width: 300px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    will-change: transform;
    transform: translateX(100%);
}

@mixin _position-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin _flex_box($align: center, $justify-content: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify-content;
}

@mixin _position($pos, $top, $right, $bottom, $left) {
    position: $pos;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin theme($property, $variable) {
    #{$property}: var($variable);
}
