$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1366px;
$screen-xxl: 1920px;

$base-fontSize: 16px;

:root {
    --color-primary: #fe6347;
    --color-background-main: #ffffff;
    --color-text-main: #233d62;
    --color-text-main-o4: #727b99;
    --color-text-main-05: #8090aa;
    --color-text-inactive: #a6b0c1;
}

body[theme-data='_sainbolt-dark'] {
    --color-background-main: black;
    --color-text-main: green;
    // --color-primary: gray;
}