$color-primary: #fe6347;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-heavy: 900;

$border-radius-light: 3px;
$border-radius-medium: 5px;
$border-radius-large: 10px;
$border-radius-large-30: 30px;
$border-radius-round: 50%;
