$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1366px;
$screen-xxl: 1920px;

$base-fontSize: 16px;

:root {
    --color-primary: #fe6347;
    --color-primary-light: #f1968633;
    --color-background-main: #ffffff;
    --color-text-main: #233d62;
    --color-bg-footer: #24285B;
    --color-text-main-o4: #727b99;
    --color-text-main-05: #8090aa;
    --color-text-inactive: #a6b0c1;
    --color-bg-icon: #e4e6eb;
    --color-bg-header: #ffffff; 
    --color-hover-dark: #514b4b;
    --color-bg-input: #ffffff;
    --color-high-light: #ffc12a;
    --box-shadow-hover: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

body[theme-data='dark'] {
    --color-background-main: #18191a;
    --color-text-main: #e4e6eb;
    --color-bg-header: #242526;
    --color-bg-footer: #161727;
    --color-bg-input: #3a3b3c;
}