.banner {
    width: 100%;
    &--background_image_fix {
        width: 100%;
        height: 1000px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #fff4f4;
        background-image: linear-gradient(#fff4f4, white);
    }
    .banner &--container {
        margin-top: 40px;
    }
    &--info-wrap {
        max-width: 542px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }
    &--title {
        font-size: $base-fontSize + 45;
        line-height: 86px;
    }
    &--description {
        font-size: $base-fontSize + 2;
        color: var(--color-text-main-o4);
        line-height: 27px;
    }
    &--img-content-banner {
        margin-left: auto;
    }
    &--button-next-view {
        .svg-inline--fa {
            margin-left: 6px;
        }
    }
}

@include _responsive(_md) {
    .banner {
        &--img-content-banner {
            width: 85%;
            margin: auto;
        }
        &--title {
            font-size: $base-fontSize + 28;  
        }
    }
}
