.banner {
    width: 100%;
    &__background_image_fix {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #fff4f4;
        background-image: linear-gradient(#fff4f4, white);
    }
    .banner &__container {
        margin-top: 60px;
    }
    .__info-wrap {
        max-width: 542px;
    }
    &__title {
        font-size: $base-fontSize + 45;
        padding-top: 80px;
        line-height: 86px;
    }
    &__description {
        font-size: $base-fontSize + 2;
        color: var(--color-text-main-o4);
        line-height: 27px;
    }
}

@include _responsive(_md) {
    .banner {
        &__img-content-banner {
            width: 85%;
            margin: auto;
        }
    }
}
