@import '../variables';

.banner {
    width: 100%;
    &__background_image_fix {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: #fff4f4;
        background-image: linear-gradient(#fff4f4, white);
    }
    .banner &__container {
        margin-top: 60px;
    }
    .__info-wrap {
        max-width: 542px;
    }
    &__title {
        font-size: $base-fontSize + 45;
        font-weight: 700;
        padding-top: 80px;
    }
    &__description {
        font-size: $base-fontSize + 2;
    }
}
