@import '../variables';

.wrap-collapsible {
    box-shadow: 1px 2px 20px rgba(#4961ea, 0.3);
    width: 100%;
    padding: 20px 30px;
    font-family: 'Barlow', sans-serif;
    background-color: #fff;
    font-size: 15px;
    .collapsible {
        color: #201c1c;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        background-color: inherit;
        outline: none;
        font-family: 'Barlow', sans-serif;
        border-radius: 3px;
        display: flex;
        font-weight: 300;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        .icon {
            color: #4961ea;
            width: 30px;
            height: 30px;
            border: 1px solid #4961ea;
            border-radius: 30px;
            transition: all 0.25s linear;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: #4961ea;
                color: #fff;
            }
        }
    }
    .active {
        background: #fff;
        .icon {
            transform: rotate(90deg);
        }
    }
    .content {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #fff;
    }
}

// .active,
// .collapsible:hover {
//     background-color: rgb(248, 183, 183);
// }
