.ant-drawer {
    .ant-drawer-header {
        background: var(--color-bg-header);
        .ant-drawer-title {
            font-weight: 600;
            color: var(--color-text-main);
        }
        button.ant-drawer-close {
            width: max-content;
            top: -3px;
            .app-icon > svg {
                color: var(--color-primary);
            }
        }
    }
    .ant-drawer-content {
        background: var(--color-bg-header);
    }
}

.draw-header-menu {
    .ant-drawer-content {
        .menu--list {
            flex-direction: column;
            a {
                margin: 5px 0;
            }
        }
    }
}