footer.app-footer {
    width: 100%;
    background-color: var(--color-bg-footer);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    .footer-email-input-wrap {
        background: var(--color-bg-input);
    }
    .footer-email-input {
        font-size: 22px;
        font-weight: 400;
        background: var(--color-bg-input);
    }
    li a {
        color: var(--color-background-main);
    }
}

@include _responsive(_sm) {
    footer {
        .footer-email-input-wrap {
            flex-direction: column;
            padding: 15px 38px;
        }
        button {
            max-width: 80%;
        }
        .footer-email-input {
            text-align: center;
        }
        .mess-error {
            display: block;
            text-align: center;
        }
    }
}

@include _responsive(_xs) {
    footer.app-footer {
        .footer-menu {
            margin-top: 64px;
            ul.app-list {
                flex-direction: column;
            }
            .footer-email-input {
                font-size: 22px;
                font-weight: 400;
                text-align: center;
            }
            .mess-error {
                display: block;
                text-align: center;
            }
        }
    }
}

@include _darkTheme() {
    .title-footer,
    .footer-menu ul.app-list a {
        color: var(--color-text-main);
    }
}
