footer.app-footer {
    width: 100%;
    background-color: var(--color-bg-footer);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    .footer-email-input-wrap {
        background: var(--color-bg-input);
    }
    .footer-email-input {
        font-size: 22px;
        font-weight: 400;
        background: var(--color-bg-input);
    }

    .footer-contact-list {
        .app-list-item {
            overflow: hidden;
            width: 40px;
            height: 40px;
            background: white;
        }
        a {
            width: 100%;
            height: 100%;
            @include _flex_box();
            &:hover {
                opacity: 0.7;
            }
            .svg-inline--fa {
                font-size: $base-fontSize + 7;
                color: var(--color-primary);
            }
        }
    }
    .footer-copyright {
        background: #1b1e4e;
        color: var(--color-background-main);
    }
    .footer-menu {
        li a {
            color: var(--color-background-main);
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

@include _responsive(_sm) {
    footer {
        .footer-email-input-wrap {
            flex-direction: column;
            padding: 15px 38px;
        }
        button.app-btn {
            max-width: 80%;
        }
        .footer-email-input {
            text-align: center;
        }
        .mess-error {
            display: block;
            text-align: center;
        }
    }
}

@include _responsive(_xs) {
    footer.app-footer {
        .footer-menu {
            margin-top: 64px;
            ul.app-list {
                flex-direction: column;
            }
            .footer-email-input {
                font-size: 22px;
                font-weight: 400;
                text-align: center;
            }
            .mess-error {
                display: block;
                text-align: center;
            }
        }
    }
}

@include _darkTheme() {
    .title-footer,
    .footer-menu ul.app-list a,
    .footer-copyright {
        color: var(--color-text-main);
    }
}
