footer.app-footer {
    width: 100%;
    background-color: var(--color-bg-footer);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    .footer-email-input {
        font-size: 22px;
        font-weight: 400px;
    }
}

@include _responsive(_sm) {
    footer {
        .footer-email-input-wrap {
            flex-direction: column;
            padding: 15px 38px;
        }
        button {
            max-width: 80%;
        }
    }
}

@include _darkTheme(){
    .title-footer, .footer-menu li {
        color: var(--color-text-main);
    }
}