.header {
    &--wrapper {
        top: 0px;
        z-index: 10;
        transition: all 0.3s;
        padding: 10px 0;
        &.scrolling {
            position: sticky;
            animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            box-shadow: 0 10px 15px #19191908;
            background-color: var(--color-bg-header);
        }
    }
    &--container {
        @include _flex_box(center, space-between);
    }
    &--logo {
        min-width: 140px;
    }
}

.menu {
    &--wrap {
        @include _flex_box(center, flex-start);
        width: max-content;
    }
    &--xs-wrap {
        display: none;
        transition: transform 0.25s linear;
    }

    &--link {
        &.active,
        &:hover {
            color: var(--color-text-main);
        }
    }

    &--link {
        text-decoration: none;
        color: var(--color-text-inactive);
    }
    &--collapse {
        border: 0;
        background-color: transparent;
        font-size: 17px;
        color: var(--color-primary);
        cursor: pointer;
        display: none;
        svg.svg-inline--fa {
            width: $base-fontSize + 4;
        }
    }
}

@include _responsive(_md) {
    .menu {
        display: none !important;
        &--wrap {
            display: none;
        }
        &--collapse {
            display: block;
            width: unset;
        }
    }
}
