.header {
    &--wrapper {
        top: 0px;
        z-index: 10000;
        transition: all 0.3s;
        padding: 20px 0;
        &.scrolling {
            position: sticky;
            animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
            box-shadow: 0 10px 15px #19191908;
            background-color: var(--color-bg-header);
        }
    }
    &--container {
        @include _flex_box(center, space-between);
    }
    &--logo {
        min-width: 140px;
    }
}