.app-btn {
    &.ant-btn-primary {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        height: 42px;
    }
    svg.svg-inline--fa {
        width: 15px;
    }
}

.ant-image-img.img-app-antd{
    &.img-app-antd-load {
        filter: blur(5px);
    }
}
// .app-btn {
//     vertical-align: bottom;
//     outline: 0;
//     text-decoration: none;
//     cursor: pointer;
//     padding: 0.4rem;
//     background-color: var(--color-primary);
//     box-sizing: border-box;
//     font-size: 16px;
//     font-family: inherit;
//     user-select: none;
//     line-height: 2.5em;
//     font-weight: 600;
//     padding: 0 0.8em;
//     text-decoration: none;
//     border: 0;
//     color: var(--color-text-main);
//     position: relative;
//     transform: translateZ(0);

//     &:active {
//         opacity: 0.8;
//     }
      
//     &:hover, &:focus {
//         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
//     }

//     &.primary {
//         border: solid 1px var(--color-primary);
//         color: white;
//     }

//     &.shadow {
//         box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
//     }

//     &.outline {
//         background: transparent;
//         &.primary{
//             color: var(--color-primary);
//             &:hover {
//                 background: var(--color-primary);
//                 color: white;
//             }
//         }
//     }
//     &.round {
//         border-radius: 30px;
//     }
// }