.app-input {
    &.ant-input-affix-wrapper,
    &.ant-input {
        border-radius: 24px;
        height: 48px;
        &:hover,
        &:focus {
            border-color: var(--color-primary);
            box-shadow: 0 0 0 2px var(--color-box-primary-light);
        }
    }
    .ant-input-suffix {
        margin-right: 8px;
    }
    &.ant-input {
        // color: var(--color-primary) !important;
        font-weight: 500;
        font-size: $font_size_base - 2;
        line-height: 21px;
    }
    padding-left: 16px;
    padding-right: 6px;
}

input::placeholder {
    color: var(--color-text-inactive) !important;
    font-weight: 500;
    font-size: $font_size_base - 2;
    line-height: 21px;
}

.field-wrap {
    width: 100%;
    &__label {
        display: block;
        color: var(--color-text-main);
        font-weight: 600;
        font-size: $font_size_base - 2;
        line-height: 21px;
        margin-bottom: 4px;
    }
    .required {
        color: red;
        font-size: $font_size_base - 4;
    }
}

.form {
    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
    }
}
