@import '../mixins';

.menu {
    &__wrap {
        display: flex;
    }
    &__list {
        width: 100%;
        display: flex;
        font-size: 17px;
        list-style: none;
        margin: 0px 22.5px 0px 0px;
        transform: translateY(10%);
    }
    &__item {
        margin: 0 12.5px;
        position: relative;
        padding-bottom: 10px;
        // &::after {
        //     content: '';
        //     @include _position_center();
        //     width: 80%;
        //     top: 85%;
        //     opacity: 0;
        //     visibility: hidden;
        //     transition: all 0.25s linear;
        //     height: 3px;
        //     border-radius: 3px;
        //     background-color: var(--color-primary);
        // }
        // &:hover {
        //     // visibility: visible;
        //     opacity: 0.7;
        // }
        &.active, &:hover {
            .menu__link {
                color: var(--color-text-main);
            }
        }
    }
    &__link {
        text-decoration: none;
        font-weight: 400;
        color: var(--color-text-inactive);
        font-weight: 700;
        font-size: 18px;
        transition: all .3s;
    }
    &__collapse {
        border: 0;
        background-color: transparent;
        font-size: 17px;
        color: var(--color-primary);
        cursor: pointer;
        display: none;
    }
}
// .menu__item.active::after {
//     visibility: visible;
//     opacity: 1;
// }
// .menu__btn {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     .sign-in__link {
//         border: 1px solid var(--color-primary);
//         width: 120px;
//         height: 35px;
//         @include _flex_box();
//         padding: 0 20px;
//         border-radius: 50px;
//         font-size: 12px;
//         transform: uppercase;
//         font-weight: 700;
//         color: var(--color-primary);
//         margin-right: 10px;
//         transition: all 0.2s linear;
//         &:hover {
//             background-color: var(--color-primary);
//             color: #fff;
//         }
//     }
// }
// .join__link {
//     width: 160px;
//     height: 35px;
//     font-size: 12px;
//     @include _flex_box();
//     background-color: var(--color-primary);
//     border-radius: 50px;
//     color: #fff;
//     font-weight: 700;
//     transition: background-color 0.25s linear;
//     &:hover {
//         background-color: #4354b3;
//     }
// }

// a {
//     text-decoration: none;
//     margin: 0;
//     padding: 0;
// }
