.menu {
    &--wrap {
        @include _flex_box(center, flex-start);
        width: max-content;
    }
    &--xs-wrap {
        display: none;
        transition: transform 0.25s linear;
    }

    &--link {
        &.active,
        &:hover {
            color: var(--color-text-main);
        }
    }

    &--link {
        text-decoration: none;
        color: var(--color-text-inactive);
    }
    &--collapse {
        border: 0;
        background-color: transparent;
        font-size: 17px;
        color: var(--color-primary);
        cursor: pointer;
        display: none;
    }
}

@include _responsive(_md) {
    .menu {
        display: none !important;
        &--wrap {
            display: none;
        }
        // &--xs-wrap {
        //     display: block;
        //     @include _position_side_draw();
        //     button {
        //         display: block;
        //         margin: auto;
        //     }
        // }
        // &--drawer-mask.mask--open {
        //     display: block;
        // }
        // &--open {
        //     transition: transform 0.25s linear;
        //     transform: translateX(0);
        // }
        &--collapse {
            display: block;
            width: unset;
        }
        // &--list {
        //     flex-direction: column;
        //     align-items: center;
        //     margin-bottom: 40px;
        //     padding: 0;
        //     margin-right: 0;
        // }
        // &--btn {
        //     width: 1005px;
        //     flex-direction: column;

        //     .sign-in--link {
        //         margin-bottom: 20px;
        //     }
        // }
    }
}
