.ant-notification-notice.notify-sys {
  border-radius: 12px;
  .ant-notification-notice-message {
    font-weight: 600;
  }
  .time.ant-typography {
    font-weight: 600;
    font-size: $font_size_base - 4;
  }
  .dec.ant-typography {
    font-size: $font_size_base - 2;
  }
}
