.app-tag.ant-tag {
  padding: 2px 15px;
  font-size: $base-fontSize - 4;
  display: inline-flex;
  place-items: center;
  text-align: center;
  height: 25px;
  width: auto;
  margin-right: 10px;
  margin-top: 10px;
  background-color: rgb(246, 246, 251);
  border-radius: 15px;
  border: 1px solid rgb(246, 246, 251);
  font-weight: 500;
  color: var(--color-primary);
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    border-color: var(--color-primary);
  }
}
