h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    &.ant-typography {
        line-height: 1.65em;
        margin: 0;
        padding: 0;
        color: var(--color-text-main);
    }
    &.high-light {
        font-weight: $font-bold;
        color: var(--color-high-light);
    }
    &.italic {
        font-style: italic;
    }
}

// typography title bold
.title.ant-typography {
    font-size: $fontSize-base + 28;
    font-weight: $font-bold;
}

.title-1.ant-typography {
    font-size: $fontSize-base + 12;
}

.title-2.ant-typography {
    font-size: $fontSize-base + 2;
}

// typography description normal
.txt-dec-1.ant-typography {
    font-weight: $font-regular;
    font-size: $fontSize-base + 4;
}

// typography description light
.txt-dec-light.ant-typography {
    font-weight: $font-light;
    font-size: $fontSize-base - 2;
}

.txt-dec-light-1.ant-typography {
    @extend .txt-dec-light;
    font-size: $fontSize-base + 2;
}
