h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
    &.ant-typography {
        line-height: 1.65em;
        margin: 0;
        padding: 0;
        color: var(--color-text-main);
    }
    &.high-light {
        font-weight: $font-bold;
        color: var(--color-high-light);
    }
    &.italic {
        font-style: italic;
    }
}

.txt-description-light.ant-typography {
    font-weight: $font-light;
    color: var(--color-text-main);
    font-size: $fontSize-base - 2;
}

.text-description-light-1.ant-typography {
    @extend .txt-description-light;
    font-size: $fontSize-base + 2;
}
